<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test  name="chromeTest" >
  <parameter name="nodeurl" value="http://localhost:1231/wd/hub/"/>
  <parameter name="browser" value="chrome"/>
    <packages>
      <package name="com.ActiTime.test"/>
    </packages>
  </test>
   <test  name="firefoxTest" >
  <parameter name="nodeurl" value="http://localhost:1231/wd/hub/"/>
  <parameter name="browser" value="firefox"/>
    <packages>
      <package name="com.ActiTime.test"/>
    </packages>
  </test>
  <!-- Test -->
</suite> <!-- Suite -->
